<div class="row equal-heights" style="text-align: center;">
  <div class="span4 offset4">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: "form-inline" }) do |f| %>
      <%= display_error_messages! %>
      <fieldset>
        <legend>Sign in</legend>
        <br/>
        <div class="control-group">
          <div class="controls">
            <%= f.email_field :email, placeholder: :email %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.password_field :password, placeholder: :password %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Sign in", :class => "btn btn-primary" %>
          </div>
          <%- if devise_mapping.omniauthable? %>
            <br/>
            <p class="help-block">or sign in with</p>
            <br/>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to image_tag( "#{provider}_32.png"), omniauth_authorize_path(resource_name, provider) %>
            <% end -%>
          <% end -%>
        </div>
      </fieldset>
    <% end %>
    <%= render "users/links" %>
  </div>
</div>
