<div class="row equal-heights" style="text-align: center;">
  <div class="span4 offset4">

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: "form-inline", method: :post }) do |f| %>
      <%= display_error_messages! %>
      <fieldset>
        <legend>Forgot your password?</legend>
        <br/>
        <div class="control-group">
          <div class="controls">
            <%= f.email_field :email, placeholder: :email %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Send me reset password instructions",class: "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
    <% end %>
    <%= render "users/links" %>
  </div>
</div>

