<!DOCTYPE html>
<html>
<head>
  <title>DashIt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/ga' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <%= render 'layouts/flash', :flash => flash %>
    <div id="content_wrapper">
      <% unless current_user %>
        <header class="jumbotron masthead">
          <div class="marketing">
            <h1>Dash It</h1>
            <p>simple todos organiser</p>
          </div>
        </header>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
